<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>eDziennik</title>
</head>
<body>
<div align="center">
    <h1>eDziennik</h1>
    <a href="/new">Dodaj nową ocenę</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>id</th>
            <th>mark</th>
            <th>description</th>
            <th>date</th>
            <th>wage</th>
            <th>index number</th>
            <th>student name</th>
            <th>student surname</th>
            <th>teacher name</th>
            <th>teacher surname</th>
            <th>subject name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark : ${marks}">
            <td th:text="${mark.id}">id</td>
            <td th:text="${mark.markValue}">mark</td>
            <td th:text="${mark.markDescription}">description</td>
            <td th:text="${mark.date}">date</td>
            <td th:text="${mark.markWage}">wage</td>
            <td th:text="${mark.student.studentId}">index number</td>
            <td th:text="${mark.student.firstName}">student name</td>
            <td th:text="${mark.student.lastName}">student surname</td>
            <td th:text="${mark.teacher.firstName}">teacher name</td>
            <td th:text="${mark.teacher.lastName}">teacher surname</td>
            <td th:text="${mark.subject.subjectName}">subject name</td>
            <td>
                <a th:href="@{'/edit/' + ${mark.id}}">edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${mark.id}}">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>